# Notebook and scripts 
numpy==1.23.4
scipy==1.13.0
cobra >= 0.29.0
gurobipy==12.0.1
ModelSEEDpy==0.4.2
openpyxl==3.1.0
matplotlib==3.8.4
plotly==5.22.0

# Jupyter
jupyter==1.0.0
ipykernel==6.17.1
pexpect==4.9.0
jinja2
tornado>=6.1
argon2-cffi
traitlets>=4.2.1
jupyter-core>=4.6.1
jupyter-client>=5.3.4
ipython-genutils
nbformat
nbconvert>=5
nest-asyncio>=1.5
ipykernel
Send2Trash>=1.8.0
terminado>=0.8.3
prometheus-client
